<!DOCTYPE html>
<html lang="ja">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>test index</title>
  </head>
  <body>
    <form action="/signup" method="POST">
        <h1>SIGN UP</h1>
        <label for="name">ユーザーネーム:</label>
        <input type="text" placeholder="Name" name="name" /><br>
        <label for="email">メールアドレス:</label>
        <input type="text" placeholder="Email" name="email" /><br>
        <label for="password1">パスワード:</label>
        <input type="password" placeholder="Password" name="password1" /><br>
        <label for="password2">パスワード(確認用):</label>
        <input type="password" placeholder="Password Confirmation" name="password2"/><br>
        <button>SIGN UP</button>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
    </form>
    {# ログイン画面リンク #}
    <a href="{{ url_for('login') }}">ログイン画面へ</a>
  </body>
</html>
