<div id="delete-channel-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5>本当に削除しますか？</h5>
      {#
      画像挿入するか未定のためサンプルの画像埋め込み箇所はコメントアウト
      <img 
        src="#"
      >
      #}
      <span class="modalClose" id="delete-page-close-btn">×</span>
    </div>
    <div class="modal-body">
      <p>削除ボタンを押すとチャンネルが消えます</p>
      <p>本当によろしいですか？</p>
      <a id="delete-confirm-link">
        <button id="delete-channel-confirmation-btn">削除</button>
      </a>
    </div>
  </div>
</div>