/*
color定義
hover: #0680a9;
それ以外: #01B4EE;
*/

.channelpage {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
}

.bg-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/channels.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1;
}

.bg-img::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 1;
}

.main-content {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.channel-title {
  display: flex;
  color:aliceblue;
  gap: 24px;
}

.channel-add button {
  margin: 30px 0;
  background-color: #01B4EE;
  color:aliceblue;
}

.channel-add button:hover {
  background-color: #0680a9;
}

.channel-box {
  background-color: #fff;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  row-gap: 0.5em;
}

.channel-box li {
  list-style: none;
  margin-bottom: 5px;
  padding-bottom: 3px;
  padding-left: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel-box li:hover {
  border-bottom: 1px solid lightgray;
  padding-bottom: 2px;
  cursor: pointer;
}

.channel-box li a {
  color: black;
}

.channel-box li a:hover {
  color: #4e5b66;
}

.pagination-container,
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-container {
  width: 100%;
  border-bottom: 2px solid gray;
  box-shadow: 0 32px 30px -30px aliceblue;
}

.pagination-container p {
  display: inline-block;
  padding: 5px;
  margin: 0 10px;
  border-radius: 3px;
  font-weight: bold;
  color: #01B4EE;
  cursor: pointer;
  background-color: aliceblue;
}

.pagination {
  padding-left: 0;
  color: black;
  background-color: aliceblue;
}

.pagination li.colored {
  background-color: #01B4EE;
  color: black;
}

#prev,
#next,
.pagination li {
  padding: 16px;
}

#prev:hover,
#next:hover {
  cursor: pointer;
}

.prev:hover .next:hover {
  cursor: pointer;
  /*color未定*/
  background-color: black;
  color: black;
}

@media screen and (max-width: 639px) {
  .main-content {
    width: 90vw;
  }
  .channel-title {
    flex-direction: column;
    gap: 0;
  }
  .channel-title h1 {
    text-align: center;
  }
  .channel-box {
    width: 100%;
  }
  .channel-box li a {
    font-size: 16px;
  }
}

@media only screen and (min-width: 640px) and (max-whdth: 1023px) {
  .main-content {
    width: 70vw;
  }
  .channel-title {
    flex-direction: column;
  }

  .channel-title h1 {
    text-align: center;
  }

  .channel-box {
    width: 80%;
  }

  .channel-box li a {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .main-content {
    width: 70vw;
  }
  .channel-title {
    flex-direction: row;
    justify-content: space-around;
  }
  .channel-box {
    width: 80%;
  }
}