<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test tags</title>
</head>
<body>
  <header>
  {# ユーザー確認用 #}
  <!-- ログアウト -->
  <a href="{{ url_for('logout')}}">ログアウト</a>
  {# タグ一覧画面 #}
  <a href="{{ url_for('index') }}">ホーム画面へ</a>
  </header>

  <h2>タグ一覧・チャンネル数表示確認用</h2>
  {# タグ一覧・チャンネル数表示確認用 #}
  {% for tag in tags %}
  <li>
    <a href="{{ url_for('tag_channel', tid=tag.id) }}">{{ tag.name }}</a>
    <span>({{ tag.count }})</span>
  </li>
  {% endfor %}
</body>
</html>
