<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test detail</title>
</head>
<body>
  <header>
  {# ユーザー確認用 #}
  <!-- ログアウト -->
  <a href="{{ url_for('logout')}}">ログアウト</a>
  {# タグ一覧画面 #}
  <a href="{{ url_for('index') }}">ホーム画面へ</a>
  </header>

  <h2>[チャンネル]</h2>

  <!-- チャンネル削除機能確認 -->
  <h3>チャンネル削除確認用</h3>
  <form action="/delete/{{ channel.id }}" method="GET">
    <label for="delete">チャンネル削除:</label>
    <input type="submit" value="削除">
  </form>

  {# 編集後確認用 #}
  <h3>チャンネル情報</h3>
  <p>チャンネル名：{{ channel.name }}</p>
  <p>チャンネル概要：{{ channel.abstract }}</p>
  <a href="{{ url_for('tag_channel', tid=channel.tid) }}">{{ tags | selectattr("id", "==", channel.tid) | map(attribute="name") | list | first }}</a>

  <!-- チャンネル編集機能確認 -->
  <h3>チャンネル編集機能</h3>
  <form action="/update_channel" method="POST">
    <label for="channel-title">新しいチャンネル名:</label>
    <input
      type="text"
      placeholder="新しいチャンネル名"
      name="channel-title"
    />
    <br>
    <label for="channel-title">新しいチャンネル概要:</label>
    <input
      type="text"
      placeholder="新しいチャンネル概要"
      name="channel-description"
    /><br>
    <label for="tag">タグ:</label>
    <select name="tid" required>
      <option value="" selected disabled>選択してください</option>
    {% for tag in tags %}
      <option value="{{ tag.id }}">{{ tag.name }}</option>
    {% endfor %}
    </select><br>
    <input type="hidden" name='cid' value="{{ channel.id }}"><br>
    <input type="submit" value="編集">
  </form>
  <hr>

  <!-- メッセージ一覧機能確認 -->
  <h2>[メッセージ]</h2>
  <h3>メッセージ一覧機能</h3>
  {% if messages %}
    {% for message in messages %}
    <p>{{ message.user_name }}:{{ message.message }}</p>
      <form action="/delete_message" method="POST">
        <input type="hidden" name="message_id" value="{{ message.id }}">
        <input type="hidden" name="channel_id" value="{{ channel.id }}">
        <input type="submit" value="削除">
      </form>
    {% endfor %}
  {% else %}
    <p>まだメッセージがありません</p>
  {% endif %}

  {# メッセージ追加機能テスト用フォーム #}
  <h3>メッセージ作成機能</h3>
  <form action="/message" method="POST">
    <label for="message">メッセージを入力してください:</label><br>
    <input type="text" name="message">
    <input type="hidden" name="channel_id" value="{{ channel.id }}">
    <input type="submit" value="送信">
  </form>
</body>
</html>
